.dashboard{
    display: flex;  
    gap: 20px;
    padding: 20px;
    background-color: #f2f7fa;
    min-height: 100vh;
}

.habits-dashboard, .stocks-dashboard, .reward-store{
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.habits-dashboard{
    flex: 1;
}

.stocks-dashboard{
    flex: 2;
}

.reward-dashboard{
    flex: 1;
}